accelerate==0.30.1
datasets==2.19.2
evaluate==0.4.2
huggingface-hub==0.23.2
ipykernel==6.29.4
ipython==8.25.0
jsonlines==4.0.0
jupyter_client==8.6.2
jupyter_core==5.7.2
matplotlib==3.9.0
mteb==1.12.16
multiprocess==0.70.16
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
plotly==5.22.0
polars==0.20.31
scikit-learn==1.5.0
scipy==1.13.1
seaborn==0.13.2
sentence-transformers==3.0.0
torch==2.3.0
tqdm==4.66.4
transformers==4.41.2
